.game {
    width: 255px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: auto;
}

.title {
    background: #f25;
    padding: 5px 0;
    margin: 5px 0;
    font-weight: 500;
}

span {
    color: rgb(0, 0, 0);
}

.square {
    width: 80px;
    height: 80px;
    background-color: #f25;
    float: left;
    margin: 2px;
    font-size: 49px;
    cursor: pointer;
}

.square:hover {
    background-color: black;
}